*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    min-height:100vh;
}

.container{
    display:flex;
    min-height:100vh;
}

/* LEFT SIDE */

.form-section{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.logo{
    width:55px;
    height:55px;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:22px;
    margin-bottom:20px;
}

.form-section h1{
    font-size:42px;
    margin-bottom:10px;
}

.form-section p{
    color:#777;
    margin-bottom:35px;
}

.form{
    width:100%;
    max-width:450px;
}

.input-box{
    margin-bottom:20px;
}

.input-box label{
    display:block;
    margin-bottom:8px;
    font-weight:500;
}

.input-box input{
    width:100%;
    padding:15px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
}

.password-field{
    position:relative;
}

.password-field i{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    color:#777;
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    font-size:14px;
}

.options a{
    color: #088178;
    text-decoration:none;
}

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:10px;
    background:#088178;
    color:white;
    font-size:18px;
    font-weight: 600;
    cursor:pointer;
}

.signup-link{
    margin-top:25px;
    color:#666;
}

.signup-link a{
    text-decoration:none;
    color: #088178;
    font-weight:600;
}

.divider{
    width:100%;
    max-width:500px;
    display:flex;
    align-items:center;
    margin:35px 0;
    gap:15px;
}

.divider span{
    flex:1;
    height:1px;
    background:#ddd;
}

.divider p{
    margin:0;
    color:#555;
}
.social-icons{
    display:flex;
    gap:20px;
}

.social-icons button{
    width:50px;
    height:50px;
    border:1px solid #ddd;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:#333;
    font-size:20px;
    background: white;
}

.social-icons button:hover{
    background: #088178;
    color:white;
}

/* RIGHT SIDE */

.image-section{
    width:50%;
    position:relative;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #F1F1F1;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.blur-circle{
    position:absolute;
    border-radius:50%;
}

.big{
    width:450px;
    height:450px;
    background-color: white;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.small{
    width:70px;
    height:70px;
    top:180px;
    left:120px;
    background: white;
}

.image-section img{
    position: absolute;
    right: 350px;
    top: 450px;
    }

@media(max-width:900px){

    .container{
        flex-direction:column;
    }

    .form-section,
    .image-section{
        width:100%;
    }

    .image-section{
        display: none;
    }

    .image-section h2{
        font-size:50px;
    }
}