*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    min-height:100vh;
    background:#fff;
}

.container{
    min-width: 100%;
    display:flex;
    min-height:100vh;
    /* background: #F1F1F1; */
    
}

/* LEFT SECTION */

.form-section{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.logo{
    width:50px;
    height:50px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:20px;
    margin-bottom:20px;
}

.form-section h1{
    font-size:42px;
    margin-bottom:10px;
}

.form-section p{
    color:#777;
    margin-bottom:35px;
}

.form{
    width:100%;
    max-width:500px;
}

.name-row{
    display:flex;
    gap:15px;
}

.input-box{
    width:100%;
    margin-bottom:18px;
}

.input-box label{
    display:block;
    margin-bottom:8px;
    font-weight:500;
    color:#444;
}

.input-box input{
    width:100%;
    padding:15px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
    font-size:15px;
}

.password-input{
    position:relative;
}

.password-input i{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    color:#777;
    cursor:pointer;
}

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:10px;
    background: #088178;
    color:white;
    font-size:18px;
    cursor:pointer;
    font-weight: 600;
    margin-top:10px;
    transition:0.3s;
}

button:hover{
    background: #06534e;
}

.signin{
    margin-top:25px;
    color:#666;
}

.signin a{
    text-decoration:none;
    color: #088178;
    font-weight:600;
}

.divider{
    width:100%;
    max-width:500px;
    display:flex;
    align-items:center;
    margin:35px 0;
    gap:15px;
}

.divider span{
    flex:1;
    height:1px;
    background:#ddd;
}

.divider p{
    margin:0;
    color:#555;
}

.social-icons{
    display:flex;
    gap:20px;
}

.social-icons button{
    width:50px;
    height:50px;
    border:1px solid #ddd;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#333;
    text-decoration:none;
    font-size:20px;
    transition:.3s;
    background-color: white;
}

.social-icons button:hover{
    background: #088178;
    color:white;
}

/* RIGHT SECTION */

.image-section{
    width:50%;
    position:relative;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #F1F1F1;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.blur-circle{
    position:absolute;
    border-radius:50%;
}

.big{
    width:420px;
    height:420px;
    background-color: white;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.small{
    width:80px;
    height:80px;
    top:150px;
    left:120px;
    background: white;
}

.image-section img{
    position:absolute;
    right: 350px;
    top: 450px;
}

/* RESPONSIVE */

@media(max-width:900px){

    .container{
        flex-direction:column;
    }

    .form-section,
    .image-section{
        width:100%;
    }

    .image-section{
        display: none;
    }

    .image-section h2{
        font-size:50px;
    }
}

@media(max-width:600px){

    .name-row{
        flex-direction:column;
    }

    .form-section h1{
        font-size:30px;
        text-align:center;
    }

    .form-section p{
        text-align:center;
    }
    .logo a img{
        position: absolute;
        right: 110px;
    }
}